.env
models/google_gemma-4-E2B-it-Q4_K_M.gguf
src/__pycache__/controller.cpython-313.pyc
src/__pycache__/controller.cpython-314.pyc
src/connectors/__pycache__/discord.cpython-314.pyc
src/connectors/__pycache__/llm.cpython-314.pyc
src/tools/__pycache__/logger.cpython-314.pyc
Open-Zhart.log
.gitignore
